nouvelle_boite_bodacc.json
{
  "name": "Boîte créer - GS",
  "nodes": [
    {
      "parameters": {
        "url": "=https://bodacc-datadila.opendatasoft.com/api/records/1.0/search/?dataset=annonces-commerciales&refine.numerodepartement=75&refine.familleavis=creation&rows=7000&sort=dateparution",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        -60
      ],
      "id": "ce9932dc-79db-4c88-9cd1-dd26ca2b9994",
      "name": "Requete API BOAMP"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appySKaFeG3wa2Hp8",
          "mode": "list",
          "cachedResultName": "Nouvelle Boîte",
          "cachedResultUrl": "https://airtable.com/appySKaFeG3wa2Hp8"
        },
        "table": {
          "__rl": true,
          "value": "tblwZ3OKKimuCE0KH",
          "mode": "list",
          "cachedResultName": "Grid view",
          "cachedResultUrl": "https://airtable.com/appySKaFeG3wa2Hp8/tblwZ3OKKimuCE0KH"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "montant_capital": "={{ $json.listepersonnes.personne.capital.montantCapital }}",
            "denomination": "={{ $json.listepersonnes.personne.denomination }}",
            "activités": "={{ $json.listeetablissements.etablissement.activite }}",
            "adresse siège social": "={{ $json.listepersonnes.personne.adresseSiegeSocial.numeroVoie }} {{ $json.listepersonnes.personne.adresseSiegeSocial.typeVoie }} {{ $json.listepersonnes.personne.adresseSiegeSocial.nomVoie }} {{ $json.listepersonnes.personne.adresseSiegeSocial.complGeographique }} {{ $json.listepersonnes.personne.adresseSiegeSocial.codePostal }} {{ $json.listepersonnes.personne.adresseSiegeSocial.ville }} {{ $json.listepersonnes.personne.adresseSiegeSocial.pays }}",
            "forme juridique": "={{ $json.listepersonnes.personne.formeJuridique }}",
            "administration": "={{ $json.listepersonnes.personne.administration }}",
            "ville": "={{ $json.listepersonnes.personne.adresseSiegeSocial.ville }}",
            "type personne": "={{ $json.listepersonnes.personne.typePersonne }}",
            "immatriculation": "={{ $json.listepersonnes.personne.numeroImmatriculation.numeroIdentification }}",
            "RCS": "={{ $json.listepersonnes.personne.numeroImmatriculation.codeRCS }}",
            "nom greffe": "={{ $json.listepersonnes.personne.numeroImmatriculation.nomGreffeImmat }}",
            "registre": "={{ $json.registre }}",
            "ispdf_unitaire": "={{ $json.ispdf_unitaire }}",
            "cp": "={{ $json.cp }}",
            "région": "={{ $json.region_nom_officiel }}",
            "commerçant": "={{ $json.commercant }}",
            "tribunal": "={{ $json.tribunal }}",
            "url complet": "={{ $json.url_complete }}",
            "parution": "={{ $json.parution }}",
            "publicationavis_facette": "={{ $json.publicationavis_facette }}",
            "typeavis_lib": "={{ $json.typeavis_lib }}",
            "typeavis": "={{ $json.typeavis }}",
            "familleavis_lib": "={{ $json.familleavis_lib }}",
            "famille_avis": "={{ $json.familleavis }}",
            "departement_nom_officiel": "={{ $json.departement_nom_officiel }}",
            "num_departement": "={{ $json.numerodepartement }}",
            "id": "={{ $json.id }}",
            "date_parution": "={{ $json.dateparution }}",
            "categorie_creation": "={{ $json.acte.creation.categorieCreation }}",
            "date_commencement_activité": "={{ $json.acte.dateCommencementActivite }}",
            "pdf_parution": "={{ $json.pdf_parution_subfolder }}",
            "region_code": "={{ $json.region_code }}",
            "numero_annonce": "={{ $json.numeroannonce }}",
            "record_id": "={{ $json.recordid }}",
            "dataset_id": "={{ $json.datasetid }}",
            "record_timestamp": "={{ $json.record_timestamp }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "montant_capital",
              "displayName": "montant_capital",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "denomination",
              "displayName": "denomination",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "activités",
              "displayName": "activités",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "adresse siège social",
              "displayName": "adresse siège social",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "forme juridique",
              "displayName": "forme juridique",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "administration",
              "displayName": "administration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ville",
              "displayName": "ville",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type personne",
              "displayName": "type personne",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "immatriculation",
              "displayName": "immatriculation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "RCS",
              "displayName": "RCS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "nom greffe",
              "displayName": "nom greffe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "registre",
              "displayName": "registre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ispdf_unitaire",
              "displayName": "ispdf_unitaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cp",
              "displayName": "cp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "région",
              "displayName": "région",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "commerçant",
              "displayName": "commerçant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tribunal",
              "displayName": "tribunal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "url complet",
              "displayName": "url complet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "parution",
              "displayName": "parution",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "publicationavis_facette",
              "displayName": "publicationavis_facette",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "typeavis_lib",
              "displayName": "typeavis_lib",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "typeavis",
              "displayName": "typeavis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "familleavis_lib",
              "displayName": "familleavis_lib",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "famille_avis",
              "displayName": "famille_avis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "departement_nom_officiel",
              "displayName": "departement_nom_officiel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "num_departement",
              "displayName": "num_departement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_parution",
              "displayName": "date_parution",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "categorie_creation",
              "displayName": "categorie_creation",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date_commencement_activité",
              "displayName": "date_commencement_activité",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pdf_parution",
              "displayName": "pdf_parution",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region_code",
              "displayName": "region_code",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "numero_annonce",
              "displayName": "numero_annonce",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_id",
              "displayName": "record_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_timestamp",
              "displayName": "record_timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nombres d'avis",
              "displayName": "Nombres d'avis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Site Web",
              "displayName": "Site Web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fiche Google?",
              "displayName": "Fiche Google?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "FICHE GOOGLE",
                  "value": "FICHE GOOGLE"
                },
                {
                  "name": "PAS FICHE GOOGLE",
                  "value": "PAS FICHE GOOGLE"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lien Fiche Google",
              "displayName": "Lien Fiche Google",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Adresse Fiche Google",
              "displayName": "Adresse Fiche Google",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Numero Telephone",
              "displayName": "Numero Telephone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Analyse IA du site",
              "displayName": "Analyse IA du site",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "HTML Site",
              "displayName": "HTML Site",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "RECORDID",
              "displayName": "RECORDID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1200,
        60
      ],
      "id": "53384adc-ffbc-40ba-aa85-67b56a211dbe",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "bnOzaEmBrdTTreMh",
          "name": "Airtable - GS"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: Format BODACC JSON data for Airtable\nconst output = [];\n\n// Assuming the input (items[0].json) contains an object with a \"records\" array from BODACC\nconst records = items[0].json.records || [];\nfor (const record of records) {\n    // Create a new object with all fields of the record\n    const formatted = { ...record.fields };\n    \n    // Include record metadata fields\n    formatted.recordid = record.recordid;\n    formatted.datasetid = record.datasetid;\n    formatted.record_timestamp = record.record_timestamp;\n    \n    // Parse JSON string fields into objects (if applicable)\n    for (const key in formatted) {\n        if (typeof formatted[key] === 'string' && \n            (formatted[key].startsWith('{') || formatted[key].startsWith('['))) {\n            try {\n                formatted[key] = JSON.parse(formatted[key]);\n            } catch (error) {\n                // If parsing fails, leave the value as the original string\n            }\n        }\n    }\n    \n    // Add the formatted record to the output array as a separate item\n    output.push({ json: formatted });\n}\n\n// Return the array of formatted records (each as an individual item)\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        -60
      ],
      "id": "a8104cd6-348e-4c04-b2d5-0f135b6b6e17",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// On récupère la date du jour\nconst now = new Date();\n\n// On calcule la date limite : un mois avant aujourd'hui\nconst oneMonthAgo = new Date(now);\noneMonthAgo.setMonth(oneMonthAgo.getMonth() - 3);\n\n// On filtre les items en gardant uniquement ceux dont la dateparution est > oneMonthAgo\nconst filteredItems = items.filter(item => {\n  const dateParution = new Date(item.json.dateparution);\n  return dateParution > oneMonthAgo;\n});\n\n// On renvoie le tableau filtré\nreturn filteredItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -60
      ],
      "id": "33aee25d-11a8-4984-9cca-2cc152ada524",
      "name": "Code1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -60
      ],
      "id": "6efc0a73-bd0c-4c2f-a128-71affd9045a2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appySKaFeG3wa2Hp8",
          "mode": "list",
          "cachedResultName": "Nouvelle Boîte",
          "cachedResultUrl": "https://airtable.com/appySKaFeG3wa2Hp8"
        },
        "table": {
          "__rl": true,
          "value": "tblwZ3OKKimuCE0KH",
          "mode": "list",
          "cachedResultName": "Grid view",
          "cachedResultUrl": "https://airtable.com/appySKaFeG3wa2Hp8/tblwZ3OKKimuCE0KH"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        180
      ],
      "id": "108c555e-24b6-464a-85dc-fd49dfe6540d",
      "name": "Airtable1",
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "bnOzaEmBrdTTreMh",
          "name": "Airtable - GS"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        740,
        60
      ],
      "id": "528dd3d1-3744-473d-8f1d-efcd6856f59e",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const uniqueKey = 'id';\nconst inputData = items.map(item => item.json);\n\n\nconst dedupedMap = new Map();\nfor (const item of inputData) {\n  const key = item[uniqueKey];\n  if (!dedupedMap.has(key)) {\n    dedupedMap.set(key, item);\n  }\n}\n\nreturn Array.from(dedupedMap.values()).map(json => ({json}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        60
      ],
      "id": "e76f799c-5f1f-402c-9448-4578c84bb690",
      "name": "Code2"
    },
    {
      "parameters": {
        "content": "## Supression doublons",
        "height": 360,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        -100
      ],
      "id": "d17ed46e-3308-4c2d-ae38-9365b276cfe3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Veille nouvelle boîte",
        "height": 480,
        "width": 940,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -280,
        -160
      ],
      "id": "80526117-db1e-4a54-bb6a-5f10311b3ff0",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Requete API BOAMP": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Requete API BOAMP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fdc69af-28db-4e4a-b4ea-7a885366412b",
  "meta": {
    "instanceId": "af1987ed0d10730a8b41a2bd922cb242750230665289a7857ae759963b7dd4f1"
  },
  "id": "PGkT1B4BYqBdbK5s",
  "tags": []
}
