workflows-ia-n8n/Error_Tracking.json
{
  "name": "Error Tracking",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -40,
        60
      ],
      "id": "e688601c-7fd2-4b3d-844f-ff139344f3a6",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appxgjkmVG7HNdy3N",
          "mode": "list",
          "cachedResultName": "Error Tracking Template - GS",
          "cachedResultUrl": "https://airtable.com/appxgjkmVG7HNdy3N"
        },
        "table": {
          "__rl": true,
          "value": "tblUj2b6myO47pXYu",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://airtable.com/appxgjkmVG7HNdy3N/tblUj2b6myO47pXYu"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Horaire": "={{ $now }}",
            "Workflow": "={{ $json.workflow.name }}",
            "Erreur": "={{ $json.execution.error.message }} {{ $json.execution.error.stack }}",
            "Lien Workflow": "={{ $json.execution.url }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lien Workflow",
              "displayName": "Lien Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Erreur",
              "displayName": "Erreur",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Email Envoyé",
              "displayName": "Email Envoyé",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Horaire",
              "displayName": "Horaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        180,
        60
      ],
      "id": "853d05cb-f5d3-447c-a2fd-656c33a7b61e",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "bnOzaEmBrdTTreMh",
          "name": "Airtable - GS"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appxgjkmVG7HNdy3N",
          "mode": "list",
          "cachedResultName": "Error Tracking Template - GS",
          "cachedResultUrl": "https://airtable.com/appxgjkmVG7HNdy3N"
        },
        "table": {
          "__rl": true,
          "value": "tblUj2b6myO47pXYu",
          "mode": "list",
          "cachedResultName": "Data",
          "cachedResultUrl": "https://airtable.com/appxgjkmVG7HNdy3N/tblUj2b6myO47pXYu"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Envoyé": true,
            "Assignee": "Quentin",
            "Corrigé": false,
            "id": "={{ $('Airtable').item.json.fields.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Workflow",
              "displayName": "Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lien Workflow",
              "displayName": "Lien Workflow",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Erreur",
              "displayName": "Erreur",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email Envoyé",
              "displayName": "Email Envoyé",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Horaire",
              "displayName": "Horaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Corrigé",
              "displayName": "Corrigé",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        660,
        -40
      ],
      "id": "f14f242d-0d95-4771-91e6-d447220e7647",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "bnOzaEmBrdTTreMh",
          "name": "Airtable - GS"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "quentingavila@gmail.com",
        "subject": "=Erreur workflow :  {{ $('Error Trigger').item.json.workflow.name }}",
        "message": "Erreur workflow",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        840,
        -40
      ],
      "id": "f012f1c9-d693-4f67-9bb8-bf768924bf19",
      "name": "Gmail",
      "webhookId": "af5c5582-5d0b-4449-98bb-df43df5b1e3c",
      "credentials": {
        "gmailOAuth2": {
          "id": "lSG6NQpaXEmOyMIR",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3f3d39f3-78f7-4b6a-b0c4-15aa5d72da4d",
              "leftValue": "={{ $('Error Trigger').item.json.workflow.name }}",
              "rightValue": "Security MVP - GS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        60
      ],
      "id": "5306aa6d-c4e1-4288-bc15-4127fc2d700c",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Mécanisme de Reporting\n",
        "height": 380,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        580,
        -220
      ],
      "id": "80ad6db1-f289-4e47-962d-7edc93f76571",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "18387",
            "url": "https://quentin-g.app.n8n.cloud/workflow/B4BEfxSJUg5WUuQG/executions/18387",
            "error": {
              "level": "warning",
              "tags": {},
              "context": {},
              "functionality": "regular",
              "name": "NodeOperationError",
              "timestamp": 1745388106096,
              "node": {
                "parameters": {
                  "notice_tip": "",
                  "agent": "toolsAgent",
                  "promptType": "define",
                  "text": "=Tu interpréte les données d'audit de sécurité.\n\nVoici l'input : \n\n{{ $json.toJsonString() }}",
                  "hasOutputParser": false,
                  "options": {
                    "systemMessage": "=1) Rôle de l’Agent (concis)\n   Tu es un expert en cybersécurité spécialisé dans l’évaluation de la gestion des credentials.\n   Ton objectif principal est d’attribuer une note sur 10 (0 = très risqué, 10 = très sécurisé)\n   et de fournir des recommandations pour renforcer la sécurité.\n\n2) Instructions (préface et étapes)\n   Tu vas recevoir en entrée (dans la variable JSON ci‐dessous) un résumé\n   de l’état des credentials dans un système.\n   Cette variable comporte les champs suivants :\n     - risk : Par exemple \"{{ $json.risk }}\".\n     - totalCredentials : {{ $json.totalCredentials }}\n     - sectionsSummary: Un tableau de sections, chacune ayant :\n       * title : ex. \"Credentials not used in any workflow\"\n       * description : description courte du risque\n       * numberOfCredentials : le nombre de credentials concernés par cette section\n      {{ $json.sectionsSummary }}\n\n   Étapes à suivre :\n     1. Analyser la structure reçue (risque, nombre total, sections, etc.).\n     2. Déterminer un score global sur 10, justifié en quelques lignes.\n     3. Émettre une liste de recommandations claires et hiérarchisées\n        (par exemple : \"supprimer rapidement les credentials inutilisés\",\n        \"instaurer une rotation\", etc.).\n     4. Respecter les règles ci‐dessous.\n\n3) Règles\n   - Ne divulgue aucun mot de passe ou secret.  \n   - N’utilise aucun émoji.  \n   - Pas de langage offensant ou non professionnel.  \n   - Réponse claire, concise et directement applicable.  \n   - Si tu présentes un code JSON en sortie, assure-toi qu’il soit valide et ne\n     contienne aucune info confidentielle.\n\n4) Format final strict (important)\n   Tu dois **uniquement** renvoyer un objet JSON avec les clés suivantes :\n   {\n     \"security_score\": <un nombre de 0 à 10>,\n     \"justifications\": \"<un texte de justification>\",\n     \"recommendations\": [\n       \"<recommandation 1>\",\n       \"<recommandation 2>\",\n       …\n     ]\n   }\n   – Pas de texte additionnel, pas de titre, pas de balises Markdown.\n   – Ne renvoie que cet objet JSON (en une ou plusieurs lignes, mais rien autour).\n\n5) Contexte additionnel\n   - Un nombre important de credentials inutilisés ou non exécutés récemment peut être signe\n     de faiblesse de gestion.\n   - Une note élevée indique moins de risques, une meilleure gouvernance et une rotation\n     régulière des credentials.\n   - Les sections que tu reçois (not used in any workflow, etc.) sont des indicateurs majeurs de vulnérabilité.\n\n",
                    "maxIterations": 10
                  },
                  "credentials": ""
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 1.7,
                "position": [
                  760,
                  -140
                ],
                "id": "90664ab8-0d59-4131-a362-f1a65bb9c62a",
                "name": "Agent Credentials",
                "alwaysOutputData": true
              },
              "messages": [],
              "message": "A Chat Model sub-node must be connected and enabled",
              "stack": "NodeOperationError: A Chat Model sub-node must be connected and enabled\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/execution-engine/node-execution-context/utils/get-input-connection-data.js:48:19)\n    at ExecuteContext.getInputConnectionData (/usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/execution-engine/node-execution-context/execute-context.js:45:73)\n    at getChatModel (/usr/local/lib/node_modules/n8n/node_modules/@n8n/n8n-nodes-langchain/dist/nodes/agents/Agent/agents/ToolsAgent/execute.js:152:27)\n    at ExecuteContext.toolsAgentExecute (/usr/local/lib/node_modules/n8n/node_modules/@n8n/n8n-nodes-langchain/dist/nodes/agents/Agent/agents/ToolsAgent/execute.js:204:27)\n    at processTicksAndRejections (node:internal/process/task_queues:95:5)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/@n8n/n8n-nodes-langchain/dist/nodes/agents/Agent/Agent.node.js:430:14)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/execution-engine/workflow-execute.js:681:27)\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/execution-engine/workflow-execute.js:915:51\n    at /usr/local/lib/node_modules/n8n/node_modules/n8n-core/dist/execution-engine/workflow-execute.js:1246:20"
            },
            "lastNodeExecuted": "Agent Credentials",
            "mode": "trigger"
          },
          "workflow": {
            "id": "B4BEfxSJUg5WUuQG",
            "name": "Security MVP - GS"
          }
        }
      }
    ]
  },
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bad0639e-5657-44be-9ddb-aa06c1797e83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af1987ed0d10730a8b41a2bd922cb242750230665289a7857ae759963b7dd4f1"
  },
  "id": "fbnt8mnhOqJFpwJj",
  "tags": []
}